@import "~antd/dist/antd.css";
* {
  font-family: "NanumSquare";
  font-weight: 500;
}
body {
  overflow: hidden;
}
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  display: inline-block;
  width: "10vw";
  height: "10vh";
  border-right: "1px solid white";
}
