/*하단 메뉴바*/
.menuBall {
  width: 13vw;
  height: 13vw;
  padding-top: 3vh;
  text-align: center;
  color: rgba(255, 255, 255);
  font-weight: normal;
  background-color: rgba(245, 145, 45, 0.9);
  border-radius: 50%;
  position: fixed;
  bottom: -17%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  z-index: 1;
  box-shadow: 3px 3px 10px #999;
}
.menuBall:hover {
  animation: showHome 5s;
}
@keyframes showHome {
  10% {
    color: transparent;
  }
  20% {
    color: rgba(255, 255, 255);
  }
  30% {
    color: transparent;
  }
  40% {
    color: rgba(255, 255, 255);
  }
  50% {
    color: transparent;
  }
  60% {
    color: rgba(255, 255, 255);
  }
  70% {
    color: transparent;
  }
  80% {
    color: rgba(255, 255, 255);
  }
  90% {
    color: transparent;
  }
  100% {
    color: rgba(255, 255, 255);
  }
}

/*하단 메뉴바 서브메뉴버튼*/
.subMenuBall div {
  width: 5vw;
  height: 5vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #999;
  box-shadow: 3px 3px 10px #999;
  border-radius: 50%;
  position: fixed;
  line-height: 5vw;
  font-family: "NEXON Lv2 Gothic Bold";
  transition: all 0.7s;
  font-size: 15px;
}
.subMenuBall div:hover img {
  animation: showSubMenu 5s;
}
@keyframes showSubMenu {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*섹션 안의 별점 컴포넌트*/
.starRate {
  background: url("../images/star-empty.svg");
  width: 1vw;
  height: 2vh;
  background-size: 100%;
  display: inline-block;
  vertical-align: -7px;
  margin: 0 2px;
  cursor: pointer;
  vertical-align: top;
}
.starRateisSelected {
  background: url("../images/star-full.svg");
  width: 1vw;
  height: 2vh;
  background-size: 100%;
  display: inline-block;
  vertical-align: -7px;
  margin: 0 2px;
  cursor: pointer;
  vertical-align: top;
}
.starRateisHalfSelected {
  background: url("../images/star-half.svg");
  width: 1vw;
  height: 2vh;
  background-size: 100%;
  display: inline-block;
  vertical-align: -7px;
  margin: 0 2px;
  cursor: pointer;
  vertical-align: top;
}

/*친구추가 모달*/
.turnOrange {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.turnOrange:hover {
  color: rgba(245, 145, 45);
}

/*DM 창*/
.hideDm {
  opacity: 0;
  transition: all 0.3s;
}
.showDm {
  opacity: 1;
  transition: all 0.3s 0.5s;
}
