/*넥슨 폰트*/
@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}
/*상단 메뉴바*/
/*메뉴화면 여는 메뉴 바*/
.openBar {
  color: rgba(245, 145, 45);
  height: 6vh;
  width: 6vh;
  line-height: 6vh;
  transition: all 1s;
  top: 6%;
  right: 5%;
}
.openBar::before {
  font-size: 25px;
  font-weight: bold;
}
.openBar:hover {
  transform: rotateX(180deg);
}
.closeBar {
  background-color: white;
  color: black;
  height: 6vh;
  width: 6vh;
  line-height: 6vh;
  transition: all 1s;
  top: 6%;
  right: 5%;
}
.closeBar:hover {
  color: white;
  background-color: rgba(245, 145, 45);
  border: none;
  transform: rotateZ(450deg);
  font-size: 2em;
  transition: all 1.5s;
  line-height: 7vh;
  height: 7vh;
  width: 7vh;
  top: 5.5%;
  right: 4.5%;
}

/*메뉴화면 배경*/
.barSection {
  height: 150vw;
  width: 150vw;
  position: absolute;
  top: -45%;
  right: -25%;
  border-radius: 50%;
  transition: all 1s ease;
  background-color: rgba(255, 255, 255);
}
.defaultBar {
  height: 6vh;
  width: 6vh;
  position: absolute;
  top: 6%;
  right: 5%;
  border-radius: 50%;
  transition: all 0.5s ease 0.4s;
  background-color: rgba(255, 255, 255, 0.9);
}

/*메뉴화면 안의 검색창*/
.search:focus {
  outline: none;
}

/*메뉴화면 안의 메뉴 버튼*/
.inner .menu li {
  font-family: "NEXON Lv2 Gothic Bold";
  transition: all 1s;
  color: black;
}

/*마이페이지버튼 안의 하위메뉴*/
.inner .mypage li {
  font-weight: 400;
  font-size: 2.6vw;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
  margin-top: -3vh;
}

/*고객센터버튼 안의 하위메뉴*/
.inner .cc li {
  font-weight: 400;
  font-size: 2.6vw;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
  margin-top: -5vh;
}

/*하단 링크*/
.bottomMenu span {
  font-family: "Nanum Gothic Coding";
}

/*로그아웃 버튼*/
.lock {
  cursor: pointer;
  transition: all 0.5s;
}
.lock:hover {
  color: rgba(245, 145, 45);
}
.unlock {
  cursor: pointer;
  transition: all 0.5s;
}
.unlock:hover {
  color: rgba(245, 145, 45);
}
