table {
}

.postTable {
  width: 50vw;
  margin: 8vh auto;
  font-size: 1vw;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.postTable tr {
}
.postTable td,
th {
  padding: 20px 20px 10px;
}
.content > p > img {
  width: "300px";
  height: "300px";
}
