table {
}
.list {
  height: 100vh;
  overflow: auto;
}
.postTable {
  width: 50vw;
  margin: 8vh auto;
  border-radius: 20px;
  font-size: 1vw;
  vertical-align: middle;
  border: 1px solid #9cc557;
  /*; */
}
.postTable tr {
}
.postTable td,
th {
  padding: 20px 20px 10px;
}
