*{
    /* font-family: 'Hi Melody', cursive;
    font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
}
a{
    cursor: pointer;
    color: black;
    text-decoration: none;

}
li{
    list-style: none;
}